<section class="section-about section-about__background">
  <div class="section-about__container">
    <p class="section-about__pre-title" id="howmade">TRADITION AND LOVE</p>
    <h2 class="section-about__title">HOW IT'S MADE?</h2>
    <div class="section-about__position">
      <div class="section-about__picture">
        <picture>
          <source
            srcset="./images/mob/milk-cow-mobile1x.png 1x, ./images/mob/milk-cow-mobile2x.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/tab/milk-cow-tablet1x.png 1x, ./images/tab/milk-cow-tablet2x.png 2x"
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./images/desk/milk-cow-desktop1x.png 1x,
              ./images/desk/milk-cow-desktop2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img src="./images/desk/milk-cow-desktop2x.png" alt="milk-cow" />
        </picture>
      </div>
      <div class="section-about__text">
        <p class="section-about__list--black">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="section-about__list">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="section-about__list section-about__list--position">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="section-about__button" type="button" data-modal-open-cow>
          Read more<svg class="section-about__icon" width="9" height="18">
            <use href="./images/icons.svg#icon-read-more"></use>
          </svg>
        </button>

        <div class="section-about__backdrop visually-hidden-cow" data-modal-cow>
          <div class="section-about__modal">
            <h4 class="section-about__pre-title--modal">Created by team<br />=PROJECT22=</h4>
            <ul class="section-about__title--modal">
              <li>Anna Zaluzhnaya</li>
              <li>Dmitriy Khomenko</li>
              <li>Ivan Filipov</li>
              <li>Mariia Kalius</li>
              <li>Oleg Vorona</li>
              <li>Dmitriy Voznyuk</li>
              <li>Yuriy Brovko</li>
              <li>Evgeniy Feshenko</li>
            </ul>
            <div class="section-about__button-modal--position">
              <button class="section-about__button-modal" data-modal-close-cow>close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
