<section class="contacts">
  <div class="container">
    <h2 id="contact" class="visually-hidden">Contacts</h2>
    <ul class="contacts-list">
      <li class="contacts-list__card">
        <p class="contacts-list__text contacts-list__text--place contacts-list__text--place-first">
          Cafe
        </p>
        <p class="contacts-list__text-bold">Chicago</p>
        <p class="contacts-list__text--description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contacts-list__item--first">
          <ul>
            <li class="contacts-list__position">
              <p class="contacts-list__text--bold">Monday - Friday</p>
              <p class="contacts-list__text contacts-list__text-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-list__position">
              <p class="contacts-list__text--bold">Saturday - Sunday</p>
              <p class="contacts-list__text contacts-list__text-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts-list__item--second">
          <address class="contacts-address">
            <a href="tel:+610383766284" class="contacts-address__link"
              ><span class="contacts-list__text--description">+61(0) 383 766 284</span></a
            >
            <a href="mailto:noreply@envato.com" class="contacts-address__link"
              ><span class="contacts-list__text--description">noreply@envato.com</span></a
            >
          </address>
        </div>
      </li>
      <li class="contacts-list__card">
        <p class="contacts-list__text contacts-list__text--place contacts-list__text--place-second">
          Foodtruck
        </p>
        <p class="contacts-list__text-bold">Los Angeles</p>
        <p class="contacts-list__text--description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contacts-list__item--first">
          <ul>
            <li class="contacts-list__position">
              <p class="contacts-list__text--bold">Monday - Friday</p>
              <p class="contacts-list__text contacts-list__text-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-list__position">
              <p class="contacts-list__text--bold">Saturday - Sunday</p>
              <p class="contacts-list__text contacts-list__text-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts-list__item--second">
          <address class="contacts-address">
            <a href="tel:+610383766284" class="contacts-address__link"
              ><span class="contacts-list__text--description">+61(0) 383 766 284</span></a
            >
            <a href="mailto:noreply@envato.com" class="contacts-address__link"
              ><span class="contacts-list__text--description">noreply@envato.com</span></a
            >
          </address>
        </div>
      </li>
      <li class="contacts-list__card">
        <p class="contacts-list__text contacts-list__text--place contacts-list__text--place-first">
          Cafe
        </p>
        <p class="contacts-list__text-bold">New York</p>
        <p class="contacts-list__text--description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contacts-list__item--first">
          <ul>
            <li class="contacts-list__position">
              <p class="contacts-list__text--bold">Monday - Friday</p>
              <p class="contacts-list__text contacts-list__text-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-list__position">
              <p class="contacts-list__text--bold">Saturday - Sunday</p>
              <p class="contacts-list__text contacts-list__text-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="contacts-list__item--second">
          <address class="contacts-address">
            <a href="tel:+610383766284" class="contacts-address__link"
              ><span class="contacts-list__text--description">+61(0) 383 766 284</span></a
            >
            <a href="mailto:noreply@envato.com" class="contacts-address__link"
              ><span class="contacts-list__text--description">noreply@envato.com</span></a
            >
          </address>
        </div>
      </li>
    </ul>
    <div class="map-window map-wrapper visually-hidden">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387098.7456836702!2d-74.30871985654169!3d40.713416457095335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a1b0cd3c8cb%3A0xf4ba617cb0ddc07!2z0JHRgNGD0LrRhNC40LvQtCDQn9C70LXQudGB!5e0!3m2!1sru!2sua!4v1642438719370!5m2!1sru!2sua"
        class="map"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <div>
      <ul class="contacts-buttons">
        <li>
          <button type="button" class="btn btn_color_dark btn_color_dark--contacts map-open">
            Our Locations
            <svg class="btn__svg--contacts" width="3.61" height="8">
              <use href="./images/icons.svg#icon-btn-w"></use>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="btn btn_color_light btn_color_light--contacts">
            Franchise
            <svg class="btn__svg--contacts" width="4.28" height="8">
              <use href="./images/icons.svg#icon-btn"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
