
<section class="customer-section">
    <h2 class="visually-hidden">ICECREAM COMMENTS</h2>
<div class="swiper mySwiper">
    <article class="swiper-wrapper">
        <h3 class="visually-hidden">SWIPER</h3>
        <article class="swiper-slide customer-item">
            <h4 class="visually-hidden">ICECREAM FIRST COMMENT</h4>
            <picture>
                <source
                    srcset="./images/desk/testimonials1.jpg 1x,
                            ./images/desk/testimonials1@2x.jpg 2x"
                    media="(min-width: 320px)"
                >
                <img 
                    src="./images/desk/testimonials1.jpg" 
                    alt="Emily" 
                >
            </picture>
                <div class="swiper-slide__block">
                    <p class="swiper-slide__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <div class="swiper-slide__bottom">
                    <div class="point"></div>
                    <div class="point-set">
                    <p class="swiper-slide__second-text">Emily, Los Angeles</p>
                    </div>
                </div>
        </article>
        <article class="swiper-slide">
            <h4 class="visually-hidden">ICECREAM SECOND COMMENT</h4>
            <picture>
                <source
                    srcset="./images/desk/testimonials2.jpg 1x,
                            ./images/desk/testimonials2@2x.jpg 2x"
                    media="(min-width: 320px)"
                >
                <img 
                    src="./images/desk/testimonials2.jpg" 
                    alt="Mya" 
                >
            </picture>
                <div class="swiper-slide__block">
                    <p class="swiper-slide__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <div class="swiper-slide__bottom">
                    <div class="point"></div>
                    <div class="point-set">
                    <p class="swiper-slide__second-text">Mya, New York</p>
                    </div>
                </div>
        </article>
        <article class="swiper-slide">
            <h4 class="visually-hidden">ICECREAM THIRD COMMENT</h4>
            <picture>
                <source
                    srcset="./images/desk/testimonials3.jpg 1x,
                            ./images/desk/testimonials3@2x.jpg 2x"
                    media="(min-width: 320px)"
                >
                <img 
                    src="./images/desk/testimonials3.jpg" 
                    alt="Monika" 
                >
            </picture>
                <div class="swiper-slide__block">
                    <div class="swiper-slide_text-block">
                        <p class="swiper-slide__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                </div>
                <div class="swiper-slide__bottom">
                    <div class="point"></div>
                    <div class="point-set">
                    <p class="swiper-slide__second-text">Monika, Miamy</p>
                    </div>
                </div>
        </article>
    </article>
    <div class="swiper-pagination"></div>
</div>
</section>