
<div class="container">
    <!-- Contacts -->
    <div class="footer__div">
    <p class="footer__link">HOMEMADE ICE CREAM MADE<span class="second__text">WITH PASSION</span></p>
        <div class="footer__network--div">
            <ul class="footer__network--list">
                <li class="footer__network--title">
                    <a href="https://github.com/" class="footer__network--link" target="_blank" rel="noreferrer noopener">
                        <svg class="footer__icon" width=19 height=19>
                            <use href="./images/icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__network--title">
                    <a href="https://web.telegram.org/" class="footer__network--link" target="_blank" rel="noreferrer noopener">
                        <svg class="footer__icon" width=20 height=15>
                            <use href="./images/icons.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__network--title">
                    <a href="https://www.facebook.com/" class="footer__network--link" target="_blank" rel="noreferrer noopener">
                        <svg class="footer__icon" width=10 height=20>
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="footer__title">
                    <P class="footer__contact--text">Feel free to contact</P>
                <a class="footer__item--link link" href="tel:+610383766284">+61 (0) 383 766 284</a>
            </div>
        </div>
    </div>
    <div class="footer__text">
        <p class="footer__title--text">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
</div>
