<!-- == HERO == -->
<section class="hero">
    <div class="hero__container">           
            <h1 class="hero__title hero__title--wheit">ice cream made with
                <span class="hero__title--red">passion
                </span>  
            </h1>
        <div class="hero__btn--title">
            <div class=" hero__btn--title-red">
                <a class="link hero__link--title hero__link--title-white" href="#our_products">Products</a>
            </div>
            <div class="hero__btn--title-white">
                <a class="link hero__link--title" href="#howmade">How it's made?</a>
            </div>
        </div> 
        <div class="hero__ellipse--pink">
        </div> 
        <ul class="list hero__stat">
            <li class="hero__stat--item">16
                <h2 class="hero__stat--title">cafes</h2>
            </li>
            <li class="hero__stat--item">23
                <h2 class="hero__stat--title">food trucks</h2>
            </li>
        </ul>
        <div class="hero__ellipse--white1">
        </div>
        <div class="hero__ellipse--white2">
        </div>
        <div class="hero__bio-eco">
            <picture>
                <source 
                srcset="./images/desk/slider-pic5_1.png 1x,
                ./images/desk/slider-pic5_1@2x.png 2x"
                media="(min-width:1280px)"
                > 
                <source 
                srcset="./images/tab/slider-pic5_1.png 1x,
                ./images/tab/slider-pic5_1@2x.png 2x"
                media="(min-width:768px)"
                > 
                <source 
                srcset="./images/tab/slider-pic5_1.png 1x,
                ./images/tab/slider-pic5_1@2x.png 2x"
                media="(min-width:480px)"
                > 
                <img src="./images/desk/slider-pic5_1.png" 
                alt="jug of milk">
            </picture>
            <div class="hero__content-bio-eco">
                <p class="hero__text-bio-eco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <a class="hero__arrow-right" href="#">
                    <picture>
                        <source 
                            srcset="./images/arrow-right_26.png 1x"
                            media="(min-width:1280px)"
                            > 
                            <source 
                            srcset="./images/arrow-right_18.png 1x"
                            media="(min-width:768px)"
                            > 
                        <img src="./images/arrow-right_26.png" 
                        alt="arrow-right">
                    </picture>
                    
                </a>             
            </div>            
        </div> 
            <picture class="hero__pic7" >
                <source 
                srcset="./images/desk/slider-pic7_1.png 1x,
                ./images/desk/slider-pic7_1@2x.png 2x"
                media="(min-width:1280px)"
                > 
                <source 
                srcset="./images/tab/slider-pic7_1.png 1x,
                ./images/tab/slider-pic7_1@2x.png 2x"
                media="(min-width:768px)"
                > 
                <source 
                srcset="./images/mob/slider-pic7_1.png 1x,
                ./images/mob/slider-pic7_1@2x.png 2x"
                media="(min-width:480px)"
                >
                <source 
                srcset="./images/mob/slider-pic7_1.png 1x,
                ./images/mob/slider-pic7_1@2x.png 2x"
                media="(min-width:320px)"
                >
                <img 
                src="./images/desk/slider-pic7_1.png" 
                alt="ice"> 
            </picture> 
            <picture class="hero__pic4">
                <source 
                srcset="./images/desk/slider-pic4_1.png 1x,
                ./images/desk/slider-pic4_1@2x.png 2x"
                media="(min-width:1280px)"
                > 
                <source 
                srcset="./images/tab/slider-pic4_1.png 1x,
                ./images/tab/slider-pic4_1@2x.png 2x"
                media="(min-width:768px)"
                > 
                <img src="./images/desk/slider-pic4_1.png" 
                alt="so_tasty">
            </picture>
    </div>
</section>
        