<div class="backdrop is-hidden" data-modal-buy>
    <div class="modal">
        <p class="title-modal">Leave your details, we will call you back</p>
        <form class="modal-form">
            <div class="modal-form__field">
                <label for="user-name" class="modal-label user-name">Full name
                </label>
                <div class="modal-form-wrapper">
                    <input type="text" id="user-name" name="name" class="modal-input">
                </div>
            </div>

            <div class="modal-form__field">
                <label for="user-tel" class="modal-label">Сontact phone number
                </label>
                <div class="modal-form-wrapper">
                    <input type="tel" id="user-tel" name="tel" class="modal-input">
                </div>
            </div>

            <div class="modal-form__field">
                <label for="email" class="modal-label user-mail">Email
                </label>
                <div class="modal-form-wrapper">
                    <input type="email" id="email" name="user-mail" class="modal-input">
                </div>
            </div>

            <div class="modal-form__field">
                <div class="modal-form-wrapper">
                    <label for="comments" class="modal-label comments">Comment</label>
                    <textarea name="comments" id="comments" class="modal-comment" placeholder="Enter your comment"></textarea>
                </div>
            </div>

            <button type="submit" class="modal-form-btn">Send</button>
        </form>

        <button class="vector" data-modal-buy-close>
            <svg class="icon-vector">
                <use href="./images/icons.svg#icon-Vector-svg"></use>
            </svg>
        </button>

    </div>
</div>

