<!-- PRODUCTS -->
<section id="our_products">
  <div class="container products">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--cream">
        <h3 class="products__name">ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button" data-cream-open>➜</button>
      </li>
      <li class="products__item products__item--coffee">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button" data-coffee-open>➜</button>
      </li>
      <li class="products__item products__item--milkshakes">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button" data-milkshakes-open>➜</button>
      </li>
    </ul>
  </div>
</section>
